.contrateServico {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  gap: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  height: auto;
  width: 100%;
  max-width: 950px;
  margin: 50px auto;
  background: linear-gradient(
    180deg,
    rgba(253, 119, 8, 1) 17%,
    rgba(253, 131, 24, 1) 36%,
    rgba(253, 137, 33, 1) 57%,
    rgba(254, 178, 100, 1) 84%,
    rgba(255, 219, 168, 1) 100%
  );
  box-shadow: 3px 5px 32px -3px rgba(0, 0, 0, 0.75);
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap; 
}

.informacaoServicoContrate {
  max-width: 350px;
  flex: 1 1 300px;
}

.informacaoServicoContrate h2 {
  font-size: 2.5rem;
  color: #00004c;
  margin: 0;
}

.informacaoServicoContrate p {
  font-size: 1.2rem;
  color: rgba(0, 0, 76, 0.7);
}

.informacaoServicoContrate button {
  height: 50px;
  width: 250px;
  font-size: 20px;
  background-color: #000c4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.informacaoServicoContrate button:hover {
  background-color: #001276;
}

.carrosselServico {
  position: relative;
  width: 500px;
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  flex: 1 1 300px;
}

.carrosselServico img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.servicoProgressoServico {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.servicoBarraProgresso {
  height: 100%;
  background-color: #00004c;
  transition: width 0.5s ease;
  border-radius: 0 0 10px 10px;
}

/*== Responsividade ==*/

/* MOBILE: até 767px */
@media (max-width: 767px) {
  .contrateServico {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center;
  }

  .carrosselServico {
    width: 100%;
    height: auto;
    max-height: 250px;
  }

  .informacaoServicoContrate p {
    font-size: 1rem;
  }

  .informacaoServicoContrate button {
    width: 100%;
  }
}

/* TABLET: 768px até 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .contrateServico {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center;
  }

  .carrosselServico {
    width: 100%;
    height: auto;
    max-height: 280px;
  }

  .informacaoServicoContrate button {
    width: 80%;
  }
}


/* DESKTOP: 1024px mais */
@media (min-width: 1024px) {
  .contrateServico {
    flex-direction: row;
    align-items: flex-end;
  }

  .carrosselServico {
    height: 300px;
  }
}
