.containerTradutorIdiomas {
  display: flex;
  gap: 0.3rem;
}

.iconBotaoTradutor {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem; 
  padding: 0.4rem;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.iconBotaoTradutor:hover {
  transform: scale(1.2); 
}