.containerTradutorIdiomas {
  display: flex;
  gap: 0.3rem;
}

.iconBotaoTradutor {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  transition: transform 0.2s ease-in-out;
}

.iconBotaoTradutor:hover {
  transform: scale(1.2); 
}