.informacoes {
  width: 90%;
  max-width: 1200px;
  display: flex;
  margin: 40px auto;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  background-color: #fde0bd;
}

.bloco1 {
  background-color: #f26c00;
  color: #1a1363;
  flex: 1;
  padding: 60px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 400px;
}

.bloco1 h2 {
  font-size: 75px;
  font-weight: 600;
}

.blocos {
  background-color: transparent; 
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center; 
}

.item1,
.item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px; 
}

.icone1, 
.icone2 {
  background-color: #1a1363;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone1 img, 
.icone2 img {
  width: 70px;
  height: 70px;
}

.blocos p {
  color: #200c80;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 4px 4px 4px rgba(255, 117, 8, 0.5);
}


@media (max-width: 1024px) {
  .bloco1 h2 {
    font-size: 2rem;
  }

  .blocos p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .informacoes {
    flex-direction: column; 
    width: 90%;
  }

  .bloco1 {
    width: 100%;
    min-height: auto;
    padding: 40px;
  }

  .bloco1 h2 {
    font-size: 2rem;
  }

  .blocos {
    flex-direction: row; 
    width: 100%;
    padding: 30px;
    justify-content: space-around;
  }

  .icone1 img,
  .icone2 img {
    width: 50px;
    height: 50px;
  }

  .blocos p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .informacoes {
    width: 90%;
  }
  
  .bloco1 {
    padding: 30px 20px;
  }

  .bloco1 h2 {
    font-size: 1.5rem;
  }
  
  .blocos {
    flex-direction: column; 
    gap: 30px;
    padding: 25px 15px;
  }

  .item1,
  .item2 {
    gap: 10px;
  }

  .icone1,
  .icone2 {
    padding: 15px;
  }
  
  .icone1 img,
  .icone2 img {
    width: 40px;
    height: 40px;
  }

  .blocos p {
    font-size: 1rem;
  }
}