@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sobreHeader {
  text-decoration: none;
  color: white;
}
.sobreHeader:hover {
  color: #fd7708;
}
.containerHeader {
  background-color: #200c80;
  color: white;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
  font-family: "Poppins", sans-serif;
}

.logoHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuHeader {
  display: flex;
  gap: 30px;
  font-weight: 600;
  font-size: 16px;
}

.usuarioHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.botaoLoginHeader {
  background: linear-gradient(90deg, #fd7708 0%, #ff914d 100%);
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.loginClickHeader {
  all: unset;
}
.botaoLoginHeader:hover {
  filter: brightness(1.1);
}

.botaoCadastroHeader {
  display: none;
}

@media(max-width: 767px){
  .containerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a0a82;
    padding: 10px 20px;
    text-align: center;
  }
  
  .logoHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .menuHeader,
  .usuarioHeader {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    gap: 20px;
    margin: 10px 0;
  }
  
  .botaoLoginHeader,
  .botaoCadastroHeader {
  background: linear-gradient(to right, #ff7e00, #ff5100);
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
  .containerHeader {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
  }
  
  .logoHeader {
    margin-bottom: 0;
  }
  
  .menuHeader,
  .usuarioHeader {
    margin: 0;
  }
  
  .menuHeader {
    order: 2;
  }

  .usuarioHeader {
    order: 3;
  }
}
