.containerCadastro {
  margin: 2rem 5rem;
  display: flex;
  border-radius: 12px;
  padding: 50px 0px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dadosCadastro {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.logoBemVindo {
  flex: 1;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
}

.imagem {
  max-width: 100%;
  margin-bottom: 20px;
}

.textoBemVindo {
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  color: #4932DC;
}

.campoNome, .campoEmail, .campoSenha, .campoCep {
  font-weight: 600;
  font-style: normal;
  color: #200C80;
  margin-bottom: 0.5rem;
}
.mensagemCadastro{
  font-weight: 600;
  font-style: normal;
  color: #200C80;
  margin-bottom: 1rem;
}
.campoInput {
  width: 100%;
  padding: 1rem;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  background-color: #f0c087;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(0, 0, 0,0.76);
}

.campoInput::placeholder {
  font-size: 18px;
  color: rgba(32, 12, 128, 0.5);
}

.textoLogin, .esquecerCep {
  font-weight: 500;
  font-style: normal;
  color: #200C80;
  text-align: end;
  margin-top: 1rem;
}

.textoLogin .loginClick, .esquecerCep NavLink {
  margin-left: 5px;
  color: #200C80;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

.grupoBotoesPaginaCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.grupoBotoesPaginaCadastro p {
  font-weight: 600;
  font-style: normal;
  color: #200C80;
  margin: 1rem 0;
}

.botaoEntrarCadastro {
  all: unset;
  width: 95%;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 700;
  background-color: #FF7900;
  color: white;
}

.botaoEntrarCadastro:hover {
  color: #FF7900;
  background-color: #200C80;
  transform: scale(0.95);
}

.botaoEntrarCadastroGoogle {
  cursor: pointer;
}

.imagemGoogle {
  width: 50px;
}

.linhaReta {
  width: 2px;
  background-color: #FD7708;
  align-self: stretch;
}

@media (max-width: 1024px) {
  .containerCadastro {
    margin: 2rem;
  }
}

@media (max-width: 768px) {
  .containerCadastro {
    flex-direction: column;
    margin: 1rem;
    padding: 20px;
  }

  .logoBemVindo {
    order: -1;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .linhaReta {
    display: none;
  }

  .textoLogin, .esquecerCep {
    text-align: center;
    justify-content: center;
  }
}