@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dadosBoletoContainer {
    background-color: #ffe0b3;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 620px;
    margin: 3rem auto;
    font-family: sans-serif;
}

.dadosBoletoTitulo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.dadosBoletoTopo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.formGroup {
    width: 60%;
}

.dadosBoletoCpf,
.dadosBoletoNome {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.dadosBoletoCampoCpf,
.dadosBoletoCampoNome {
    width: 100%;
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #ffd6a4;
    color: #200c80;
    font-size: 14px;
}

.dadosBoletoInfo {
    width: 35%;
    text-align: right;
}

.dadosBoletoInfo img {
    width: 80px;
    margin-bottom: 0.5rem;
}

.dadosBoletoTexto {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 0.2rem;
}

.dadosValor {
    font-size: 20px;
    font-weight: bold;
}

.dadosBoletoBotoes {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.dadosBoletoBotaoVoltar {
    background-color: #fff0de;
    color: #ff6f00;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.dadosBoletoBotaoVoltar:hover {
    background-color: #ff6f00;
    color: #200c80;
    transform: scale(0.95);
}

.dadosBoletoBotaoFinalizar {
    background-color: #ff6f00;
    color: white;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}
.dadosBoletoBotaoFinalizar:hover {
    background-color: #200c80;
    color: #ff6f00;
    transform: scale(0.95);
}

/*== Responsividade ==*/

@media screen {
    @media (max-width: 768px) {
        .dadosBoletoContainer {
            width: 90%;
            padding: 2rem;
        }

        .dadosBoletoTopo {
            flex-direction: column;
            align-items: flex-start;
        }

        .formGroup {
            width: 100%;
        }

        .dadosBoletoInfo {
            width: 100%;
            text-align: left;
            margin-top: 1rem;
        }

        .dadosBoletoInfo img {
            display: none;
        }
    }
    
}

@media screen {
    @media (max-width: 480px) {
        .dadosBoletoContainer {
            width: 90%;
            padding: 2rem;
        }

        .dadosBoletoTopo {
            flex-direction: column;
            align-items: flex-start;
        }

        .formGroup {
            width: 100%;
        }

        .dadosBoletoInfo {
            width: 100%;
            text-align: left;
            margin-top: 1rem;
        }

        .dadosBoletoInfo img {
            display: none;
        }
    }
    
}